auto-save-list/*
emacs-starter-kit/*
org/*
server/*
.\#*
abbrev_defs
ac-comphist.dat
diary
places
rubytags
tramp
.desktop.lock
.ido.last
.newsrc.eld
.nnmail-cache
.bookmark
.desktop
.emacs-places
.recentf
.smex-items
plugins/my-customize-gnus-setting.el
plugins/no-used/*
plugins/bak/*
plugins/aspell/*
plugins/emacs-w3m/bin/*
plugins/emacs-w3m/icons/*
